# Machine Learning | Python | Class 1

In [3]:
# matplotlib - 2D plotting

import os
import pandas as pd
import numpy as np
import scipy.stats as sp
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
os.getcwd()

'C:\\Users\\praveen\\DS_Notebooks\\sl_ml'

In [5]:
# Imputation
from sklearn.preprocessing import Imputer

In [6]:
os.listdir()

['.ipynb_checkpoints', 'data.csv', 'ml_python_intro_1.ipynb']

In [16]:
ds = pd.read_csv('data.csv', header=None)

In [17]:
ds

         0     1         2    3
0   France  44.0  720000.0   No
1    Spain  27.0  480000.0  Yes
2  Germany  30.0  540000.0   No
3    Spain  38.0  610000.0   No
4  Germany  40.0       NaN  Yes
5   France  35.0  580000.0  Yes
6    Spain   NaN  520000.0   No
7   France  48.0  790000.0  Yes
8  Germany  50.0  830000.0   No
9   France  37.0  670000.0  Yes

In [21]:
ds.columns

Index(['Country', 'Age', 'Salary', 'Flag'], dtype='object')

In [20]:
ds.columns = ['Country', 'Age', 'Salary', 'Flag']

In [22]:
pd.to_numeric(ds['Age'], errors='coerce')

0    44.0
1    27.0
2    30.0
3    38.0
4    40.0
5    35.0
6     NaN
7    48.0
8    50.0
9    37.0
Name: Age, dtype: float64

In [23]:
pd.to_numeric(ds['Salary'], errors='coerce')

0    720000.0
1    480000.0
2    540000.0
3    610000.0
4         NaN
5    580000.0
6    520000.0
7    790000.0
8    830000.0
9    670000.0
Name: Salary, dtype: float64

In [32]:
features = ds.iloc[:,0:3].values

In [33]:
features

array([['France', 44.0, 720000.0],
       ['Spain', 27.0, 480000.0],
       ['Germany', 30.0, 540000.0],
       ['Spain', 38.0, 610000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 580000.0],
       ['Spain', nan, 520000.0],
       ['France', 48.0, 790000.0],
       ['Germany', 50.0, 830000.0],
       ['France', 37.0, 670000.0]], dtype=object)

In [11]:
# converted to np array?

In [12]:
label = ds.iloc[:,[3]].values

In [13]:
label

array([['Yes'],
       ['No'],
       ['No'],
       ['Yes'],
       ['Yes'],
       ['No'],
       ['Yes'],
       ['No'],
       ['Yes']], dtype=object)

In [34]:
# axis = 0 => impute along columns
# axis = 1 => impute along rows
imputer = Imputer(missing_values='NaN', strategy='mean', axis=0)

In [37]:
# Make sure that you're setting missing_values='NaN';
# missing_values='Nan' <= this will give you the below error
# TypeError: ufunc 'isnan' not supported for the input types, 
# and the inputs could not be safely coerced 
# to any supported types according to the casting rule ''safe''

In [27]:
features[:,[1,2]]

array([[27.0, 480000.0],
       [30.0, 540000.0],
       [38.0, 610000.0],
       [40.0, nan],
       [35.0, 580000.0],
       [nan, 520000.0],
       [48.0, 790000.0],
       [50.0, 830000.0],
       [37.0, 670000.0]], dtype=object)

In [35]:
# impute features on 2nd and 3rd columns

features[:,[1,2]] = imputer.fit_transform(features[:,[1,2]])

In [26]:
type(features)

numpy.ndarray

In [36]:
features[:,[1,2]]

array([[44.0, 720000.0],
       [27.0, 480000.0],
       [30.0, 540000.0],
       [38.0, 610000.0],
       [40.0, 637777.7777777778],
       [35.0, 580000.0],
       [38.77777777777778, 520000.0],
       [48.0, 790000.0],
       [50.0, 830000.0],
       [37.0, 670000.0]], dtype=object)

In [38]:
features

array([['France', 44.0, 720000.0],
       ['Spain', 27.0, 480000.0],
       ['Germany', 30.0, 540000.0],
       ['Spain', 38.0, 610000.0],
       ['Germany', 40.0, 637777.7777777778],
       ['France', 35.0, 580000.0],
       ['Spain', 38.77777777777778, 520000.0],
       ['France', 48.0, 790000.0],
       ['Germany', 50.0, 830000.0],
       ['France', 37.0, 670000.0]], dtype=object)